<footer class="footer" style="width: 100%; height: auto;">
    <div class="footer-content" style="width: 100%; display: flex; justify-content: center; align-items: center;">
      <img
        class="footer-img"
        src="/img/image.png"
        alt="log-pi"
        width="1350px"  
        height="250px" 
        style="object-fit: contain; max-width: 100%; height: auto;"/>
    </div>
  </footer>
  
  