    <footer class="footer">
        <div class="footer">
            <Image
            className="footer"
            src="/img/image.png"
            width="100%"
            height="100%"
            alt="log-pi"
        ></Image>
        </div>
    </footer>
</body>
</html>