<%- include("includes/header"); %>

<div class="container">

    <h3>Página Inicial</h3>
    <div class="titulo" style="display: flex; justify-content: center; align-items: center;">
        <div style="color: black; font-size: 35px; ">Seja Bem vindo ao nosso sistema!</div>
    </div>
    <div class="imagem" style="display: flex; justify-content: center; align-items: center;">
        <Image
        src="/img/Logo_Plataforma_Barbearia_Black.png" 
        alt="Descrição da imagem"
        width="400" 
        height="400"
      />
   </div>
    
</div>

<%- include("includes/footer"); %>
